*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

footer {
  display: flex; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: 2rem; }
  100% {
    opactity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: -2rem; }
  100% {
    opactity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opactity: 1;
    transform: translate(0); } }

@keyframes phone {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: -2rem; }
  100% {
    opactity: 1;
    transform: translate(0); } }

body {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: #f3edca; }

.container {
  position: relative;
  width: 90%;
  margin: 0 auto; }
  .container__footer {
    padding-top: 2rem;
    position: relative;
    height: 10rem; }
  .container__footer--text {
    position: absolute;
    margin-top: -8rem;
    margin-left: 2rem;
    color: white;
    font-size: 1.5rem; }

.header-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .header-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out; }
  .header-primary--sub {
    display: block;
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 3s;
    animation-iteration-count: 2; }

.heading-secondary {
  display: inline-block;
  background-image: linear-gradient(to right, rgba(217, 136, 128, 0.8), rgba(179, 57, 57, 0.8));
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .2rem;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.5rem; }

.heading-tertiary {
  padding: .5rem;
  background-image: linear-gradient(to right, rgba(217, 136, 128, 0.8), rgba(179, 57, 57, 0.8));
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .2rem;
  -webkit-background-clip: text;
  color: transparent; }

.formulaire {
  width: 100%;
  padding: 2rem;
  background-image: linear-gradient(to right, rgba(217, 136, 128, 0.8), rgba(179, 57, 57, 0.8));
  text-align: left;
  color: white;
  font-size: 1.6rem;
  font-weight: 400; }

a:hover {
  color: #b33939;
  text-shadow: 0.5rem 1rem 2rem #84817a; }

.u-center-text {
  text-align: center; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: white;
  color: #84817a; }
  .btn--white::after {
    background-color: white; }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s ease-out; }

.btn--animated {
  animation: moveInBottom .5s .75s;
  animation-fill-mode: backwards; }

.button-main {
  border: none;
  padding: 3rem;
  text-decoration: none;
  background-image: linear-gradient(to right, rgba(217, 136, 128, 0.8), rgba(179, 57, 57, 0.8));
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .2rem;
  -webkit-background-clip: text;
  color: transparent; }
  .button-main:hover {
    color: #b33939; }

.send {
  padding: 1rem;
  border: none;
  border-radius: 20%;
  background: linear-gradient(to right bottom, rgba(179, 57, 57, 0.8), rgba(217, 136, 128, 0.8));
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 1rem; }
  .send:hover {
    color: #b33939; }

.btn-link {
  text-decoration: none;
  text-align: center;
  padding-top: 2rem;
  color: #84817a;
  font-size: 1.6rem; }

.phone {
  max-width: 10rem;
  max-height: 9rem;
  align-items: center;
  padding-top: 2rem;
  animation-name: phone;
  animation-duration: 5s;
  animation-iteration-count: infinite; }

.owl {
  max-width: 10rem;
  max-height: 9rem;
  padding-top: 2rem;
  margin-left: 60%; }

.composition {
  position: relative;
  margin-left: 15%;
  margin-right: 5%;
  z-index: 4;
  margin-bottom: 15%; }
  .composition__photo {
    position: absolute;
    width: 40%;
    box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    outline-offset: 0.5rem;
    backface-visibility: hidden; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 10rem;
      top: 5rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 6rem; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-1rem);
      outline: 1rem solid #F97F51;
      box-shadow: 0rem 1.5rem 5rem rgba(0, 0, 0, 0.95);
      transition: 3s;
      z-index: 3; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  height: 42rem;
  margin-top: 10rem;
  background: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  font-weight: 600;
  color: #84817a;
  padding: 2.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.8);
  transition: 3s; }
  .feature-box__icon {
    font-size: 6rem;
    padding-bottom: .5rem;
    background-image: linear-gradient(to right, rgba(217, 136, 128, 0.8), rgba(179, 57, 57, 0.8));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-2rem) scale(1.05); }

.header {
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(217, 136, 128, 0.8), rgba(179, 57, 57, 0.8)), url("../Images/hero.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background: rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(225, 225, 225, 0.5);
  z-index: 1000; }

.nav ul {
  list-style: none;
  text-align: center;
  white-space: nowrap;
  padding-right: 32px; }

.nav ul li {
  display: inline; }

.nav ul li a {
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  font-size: 25px;
  text-shadow: #aaa69d 0px 0px 10px;
  color: white;
  padding: 3rem 1.6rem;
  transition: background 0.4s, text-shadow 0.4s;
  cursor: pointer; }

.nav ul li a:hover {
  background: rgba(255, 255, 255, 0.4);
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }

.first {
  margin-right: -0.17em;
  border-right: none !important; }

.last {
  margin-left: -0.17em;
  border-left: none !important; }

.grid-container {
  display: grid;
  grid-template-columns: 210px 210px 210px 100px  50px 50px;
  grid-gap: 10px;
  padding: 20px; }

.grid-container--text {
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 1.6rem;
  cursor: pointer;
  font-family: 'Allura', sans-serif; }

.grid-container--text:hover {
  transform: scale(1.2); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row [class^="col-"] {
    color: #84817a;
    font-size: 1.8rem;
    font-weight: 600;
    float: left;
    padding: 4rem 2rem; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 8rem) /2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 8rem) /3); }

.section-about {
  padding: 4rem 2rem; }

.section-features {
  margin-top: 25%;
  padding: 2rem; }

.section-contact {
  margin-top: 1%;
  padding: 2rem; }
