//COLOR

$color-primary:#C70039 ;
$color-primary-light:  #D98880;
$color-primary-dark:#b33939;
$color-grey-dark:#84817a;
$color-white: white;
$color-black: black;
$color-light-grey: rgba(204, 202, 202, 0.788);
$color-border:#F97F51;
$body-color:rgb(243, 237, 202);


//Font

$default-font-size: 1.6rem;
$header-font-size: 2.5rem;

//GRID

$grid-width: 114rem;
$gutter-horizontal: 8rem;
$gutter-vertical: 6rem;