.composition {
    position: relative;
    margin-left: 15%;
    margin-right: 5%;
    z-index: 4;
    margin-bottom: 15%;
    
    &__photo {
        position:absolute;
        width:40%;
        box-shadow: 0rem 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        outline-offset: 1.5rem;
        backface-visibility: hidden;

        &--p1 {
            left:0;
            top: -2rem;
        }
        &--p2 {
            right: 10rem;
            top: 5rem;
        }
        &--p3 {
            left: 20%;
            top: 6rem;
        }

        &:hover {
            transform: scale(1.05) translateY(-1rem);
            outline: 1.5rem solid $color-primary;
            box-shadow: 0rem 1.5rem 5rem rgba($color-black, .95);
            transition: 3s;
            z-index:3;
        }
    }
  &:hover &__photo:not(:hover){
      transform: scale(.95);
  }
}
