
body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: $default-font-size;
	line-height: 1.7; 
}

.container {
	position: relative;
	width: 90%;
	margin: 0 auto;
	background-color: $color-light-grey;
	&__footer {
		bottom:0;
		height:8rem;
		background: linear-gradient(to bottom,rgba($color-grey-dark, 0.5), rgba($color-black, 0.8) );
	}
	&__footer--text {
		padding-top: 2.5rem;
		color: $color-white;
		text-align:center;
        font-size: 1.5rem;
    }
}

.header-primary {
	color:$color-white;
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 6rem;

    &--main {
		display:block;
		font-size:6rem;
		font-weight: 700;
		letter-spacing: 3.5rem;
		animation-name: moveInLeft;
		animation-duration:  3s;
		animation-timing-function: ease-out;
}
    &--sub {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 1.75rem;
		animation-name: moveInRight;
		animation-duration: 3s;
		animation-iteration-count: 2;
	}
}

.heading-secondary{
	display:inline-block;
	@include colored-headers;
	font-size: $header-font-size;
}

.heading-tertiary {
	padding: .5rem;
	@include colored-headers;
	font-size: 2rem;
}

.formulaire {
	width: 100%;
	padding: 2rem;
	background-image: linear-gradient(to right ,rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));
	text-align: left;
	color: $color-white;
	font-size: $default-font-size;
	font-weight: 400;
}


a:hover {
	color: $color-primary-dark;
	text-shadow: .5rem 1rem 2rem $color-grey-dark;
}